html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(250, 250, 191);
}

#header-nav {
    position: absolute;
    width: 100%;
    height: 165px;
    line-height: 60px;
    text-align: center;
    color: #ababab;
    border-radius: 0;
    border: 0;
    background-color: #363636;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: #ababab;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

#logo-img {
    background: no-repeat url('/images/logo.jpg');
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    color: #ababab;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #ababab;
    background-color: #363636;
}

.helloInput {
    width: 300px;
}